#! /usr/bin/env python3
# -*- coding: utf-8 -*-
from dynamic_reconfigure.parameter_generator_catkin import *

"""
    动态参数客户端：
        1.导包；
        2.创建一个参数生成器；
        3.往生成器添加参数；
        4.配置节点，并退出
        aughor
"""
# 2.创建一个参数生成器；
gen = ParameterGenerator()
# 3.往生成器添加参数；
#add: (name: Any, paramtype: Any, level: Any, description: Any, 
# default: Any | None = None, 
# min: Any | None = None, 
# max: Any | None = None, edit_method: str = "") -> None

#Car parameter
gen.add("L", double_t,0,"length of Car",0.26,0.2,0.3)
gen.add("Lrv", double_t,0,"unknown parapm, don't changed it",10,9.9,10.1)
gen.add("Vcmd", double_t,0,"*reference speed (m/s)*",0.7,0.5,1.5)
gen.add("lfw", double_t,0,"forward look ahead distance (m)",0.13,0.1,1.5)
gen.add("lrv", double_t,0,"distance between front the center of car",10,9.9,10.1)

#Controller parameter
gen.add("controller_freq", double_t,0,"controller's freqency(Hz)", 20, 5, 50)
gen.add("angle_gain", double_t,0,"*gain of the turnning angle(to be tested)*",-1.8, -1.9, -1.7)#这里的初始值可能会影响刚开启节点的时候舵机的角度？？
gen.add("gas_gain", double_t,0,"gas gain of car(to be tested)", 1.0, 0.5, 1.5)
gen.add("base_speed", double_t,0,"*base speed of car*", 0.7, 0.5, 1.5)
gen.add("base_angle", double_t,0,"*base angle of car(to be tested)*", 0.0, -0.5, 0.5)
# # 4.配置节点，并退出。
# generate: (pkgname: Any, nodename: Any, name: Any) -> Any
#最后一个name和cfg文件的名字保持一致
exit(gen.generate("qingzhou_nav","L1_controller_V3","L1_dynamic"))