<?xml version="1.0"?>

<launch>
    <master auto="start"/>

    <include file="$(find qingzhou_nav)/launch/ydlidar.launch" />

    <!-- for amcl -->    
    <include file="$(find qingzhou_nav)/launch/amcl.launch" /> 

    <!-- for Map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find qingzhou_nav)/maps/map_5_14.yaml" output="screen"/>

    <!-- Navigation -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
<!-- costmap layers -->   
        <rosparam file="$(find qingzhou_nav)/config/l1_local_costmap_params.yaml" command="load" />
        <rosparam file="$(find qingzhou_nav)/config/l1_global_costmap_params.yaml" command="load" />
<!-- move_base params -->
        <rosparam file="$(find qingzhou_nav)/launch/includes/move_base_params.yaml" command="load"/>
    </node>


    <node pkg="qingzhou_nav" type="L1_controller_v3" respawn="false" name="L1_controller_v3" output="screen">       
        <!-- L1 -->
        <rosparam file=	"$(find qingzhou_nav)/config/l1_controller_v3_param.yaml" command="load" />

    </node>
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find qingzhou_nav)/rviz/l1_move_base.rviz"/> -->
</launch>
