<?xml version="1.0"?>

<launch>
  <master auto="start"/>

  <include file="$(find qingzhou_bringup)/launch/qingzhou_bringup.launch"/>
  
  <include file="$(find qingzhou_nav)/launch/ydlidar.launch" />

    <!-- for amcl -->    
    <include file="$(find qingzhou_nav)/launch/amcl.launch" /> 

    <!-- for Map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find qingzhou_nav)/maps/final.yaml" output="screen"/>

    <!-- Navigation -->
    <include file="$(find qingzhou_nav)/launch/includes/qingzhou_move_base.launch.xml" />

    <!--node pkg="rviz" type="rviz" name="rviz" args="-d $(find qingzhou_nav)/rviz/l1_move_base.rviz"/-->
  
  <!-- fadian -->
  <!-- <node name="navigation_demo" pkg="qingzhou_nav" type="route.py" output="screen"/> -->

  <!-- qidong socket -->
  <!-- <node name="get_socket" pkg="qingzhou_nav" type="socket.py" output="screen"/> -->
  
</launch>
